benites-js/www
benites-js/dist

*~
*.sw[mnpcod]
*.log
*.lock
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace

benites-js/.stencil/
benites-js/node_modules/
benites-js/.sass-cache/
.idea/
.vscode/
.versions/

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
.env
